:root {
    --navbarBackground: #c0b2a3;

    --background: #FFEBD6;

    --buttonBackground: #E38F62;
    --buttonText: #EFE2DF;

    --buttonHover2: #ffe1c1;

    --text: #8B5B42;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    padding-top: 25px;
  }

  button  {
    border: 0px;
    border-radius: 8px;
    color: var(--buttonText);
    background-color: var(--buttonBackground);
    cursor: pointer;
    transition: 0.2s;
  }

  button:hover {
    background-color: #F3A77E;
    color: #FFFFFF;
    transition: 0.2s;
  }
