<div *ngIf="feeder; else loading">
  <h1>{{ feeder.name }}</h1>
  <div>
    <p><strong>Informações</strong></p>
    <p><strong>Tigela:</strong> {{ feeder.bowl }}g</p>
    <p><strong>Estoque:</strong> {{ feeder.stock | formatKg }}Kg</p>
    <p><strong>Endereço:</strong> {{ feeder.address }}</p>
    <p><strong>Detalhes:</strong> {{ feeder.details }}</p>
    <p><strong>Última atualização:</strong> {{ feeder.lastUpdateDate | date:'fullDate'}}</p>
  </div>

  <div>
    <button (click)="update(feeder._id)">Atualizar</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
