<div>
  <h1>Lista de Alimentadores</h1>

  <div>
    <select [(ngModel)]="selectedCity" (change)="onCitySelect(selectedCity!)">
      <option [value]="null" disabled selected>Cidade</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
    <select [(ngModel)]="selectedNeighborhood" (change)="onNeighborhoodSelect(selectedNeighborhood!)" *ngIf="neighborhoods.length">
      <option [value]="null" disabled selected>Bairro</option>
      <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood">{{ neighborhood }}</option>
    </select>
  </div>

  <div class="container">
    <div class="card" *ngFor="let feeder of feeders">
      <img src="../../../../assets/images/feeder.png" alt="feeder icon" class="feederImage">
      <div class="containerIcon">
        <img *ngIf="feeder.type === 'Dog'" src="../../../../assets/images/dog.png" alt="dog icon" class="dogIcon">
        <img *ngIf="feeder.type === 'Cat'" src="../../../../assets/images/cat.png" alt="cat icon" class="catIcon">
      </div>
      <p><strong>{{feeder.name}}</strong><br>
        <strong>Pote:</strong> {{feeder.bowl}}g<br>
        <strong>Estoque:</strong> {{feeder.stock | formatKg}}Kg</p>

      <div class="btnSection">
        <app-confirmation-dialog #confirmDialog (onConfirm)="handleDeleteConfirmation($event)"></app-confirmation-dialog>
        <button (click)="detail(feeder._id)">Detalhes</button>
        <button (click)="openDeleteConfirm(feeder._id)">Deletar</button>
      </div>
    </div>
    <div class="card add" (click)="openModal()">
      <img src="../../../../assets/images/add.png" alt="AddIcon" class="addIcon">
    </div>
    <app-feeder-form *ngIf="isOpen"></app-feeder-form>
  </div>

</div>
