h1 {
  text-align: center;
}

.container{
  display: flex;
}

.card{
  position: relative;
  width: 10%;
  min-height: 12.50%;
  max-height: 12.50%;
  margin: 10px;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  display: grid;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}

.feederImage
{
  width: 100%;
  height: max-content;
}

.containerIcon
{
  position: absolute;
  top: -6%;
  right: -35%;
  width: 100%;
}

.dogIcon, .catIcon{
  width: 50%;
}

.btnSection button {
  width: 100%;
}

.add{
  transition: 0.2s;
}

.add:hover {
  background-color: var(--buttonHover2);
  cursor: pointer;
  transition: 0.2s;
}

.addIcon{
  margin-top: 50%;
  width: 100%;
}
