<div class="modal">
  <div class="modal-content">
    <h2>Adicionar Alimentador</h2>
    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="input-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" [(ngModel)]="feeder.name" name="name" required>
      </div>
      <div class="address-group">
        <div class="input-group">
          <label for="cep">CEP:</label>
          <div class="cep-group">
            <input type="text" id="cep" [(ngModel)]="feeder.address.cep" name="cep" maxlength="8" minlength="8" required>
            <button type="button" (click)="fetchAddress()">Buscar CEP</button>
          </div>
        </div>
        <div class="input-group">
          <label for="state">Estado:</label>
          <input type="text" id="state" [(ngModel)]="feeder.address.state" name="state" required>
        </div>
        <div class="input-group">
          <label for="city">Cidade:</label>
          <input type="text" id="city" [(ngModel)]="feeder.address.city" name="city" required>
        </div>
        <div class="input-group">
          <label for="neighborhood">Bairro:</label>
          <input type="text" id="neighborhood" [(ngModel)]="feeder.address.neighborhood" name="neighborhood" required>
        </div>
        <div class="input-group">
          <label for="street">Rua:</label>
          <input type="text" id="street" [(ngModel)]="feeder.address.street" name="street" required>
        </div>
        <div class="input-group">
          <label for="number">Número:</label>
          <input type="text" id="number" [(ngModel)]="feeder.address.number" name="number" required>
        </div>
      </div>
      <div class="input-group">
        <label for="details">Detalhes:</label>
        <input type="text" id="details" [(ngModel)]="feeder.details" name="details">
      </div>
      <div class="input-group">
        <label>Tipo:</label>
        <div class="radio-buttons">
          <label>
            <input type="radio" [(ngModel)]="feeder.type" name="type" value="Dog" required> Cachorro
          </label>
          <label>
            <input type="radio" [(ngModel)]="feeder.type" name="type" value="Cat" required> Gato
          </label>
        </div>
      </div>
      <div class="button-group">
        <button type="button" (click)="closeModal()">Cancelar</button>
        <button type="submit">Adicionar</button>
      </div>
    </form>
  </div>
</div>
